each item in data
    tr#list_item
        td
            .main__user
            .main__avatar(style='width:75px;border-radius:0%;')
                img(src=`/api/anime/${item.id}/thumb` alt='')
            .main__meta
                h3= item.title
                span= `ID : ${item.id}, SLUG : ${item.slug}`
        td
            .main__table-text.main__table-text--rate 7.9
        td
            .main__table-text= item.type
        td
            .main__table-text 1392
        td(id=`visible-${item.id}`)
            if item.visible == 1
                | nested if test : 
                if item.visible == true
                    = item.id
                    if item.visible == true
                    = item.type
                |  more nested test : 
                if item.visible == true
                    = item.type
                    if item.visible == true
                    = item.id
            else if item.visible == 2
                .main__table-text.main__table-text--green secret
            else 
                .main__table-text.main__table-text--red Hidden
        td
            .main__table-text= formatdate(startdate)
        td
            .main__table-btns
            a.main__table-btn.main__table-btn--view(href='#' id=`toggleVisible-${item.id}` data-visible=`${item.visible}` data-action='visible' data-target=`/admin/anime/${item.id}`)
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                path(d='M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z')
            a.main__table-btn.main__table-btn--edit(href=`/admin/anime/${item.id}`)
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                path(d='M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z')
            a.main__table-btn.main__table-btn--delete.open-modal(href='#modal-delete' data-action='delete' data-value=`/api/anime/${item.id}`)
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                path(d='M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z')
